<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">ProjectX</h5>
          <p>
            Some footer content here.
          </p>
        </div>
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="/" class="text-dark">Home</a>
            </li>
            <li>
              <a href="/todo" class="text-dark">Todo</a>
            </li>
            <!-- Add more links here -->
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center p-3 bg-light">
      &copy; 2024 ProjectX. All rights reserved.
    </div>
  </footer>